.btn-purple {
  border-radius: 40px;
  padding: 20px 25px;
  background: linear-gradient(to top left, #a45cdb, #f075da);
  color: $white;
  box-shadow: $btn-shadow;
  font-size: 18px;
  border: none;
}
