* {
  margin: 0;
}

body {
  font-family: $secondary-font;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.heart {
  color: $white;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: $white;
  height: 32px;
  width: 32px;
}
