* {
  margin: 0;
}

body {
  font-family: $secondary-font;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: $primary-font;
  font-size: 30px;
}
