h1 {
  font-weight: $black;
  font-size: 25px;
}

h2 {
  font-weight: $bold;
  font-size: 24px;
}

h3 {
  font-weight: $bold;
  font-size: 18px;
}

h4 {
  font-weight: $regular;
  font-size: 17px;
}

h5 {
  font-weight: $regular;
  font-size: 17px;
}

.dish {
  h2 {
    font-weight: $regular;
    font-size: 23px;
  }
}
