h1,
h2 {
  font-weight: $black;
  font-size: 30px;
}

h3 {
  font-weight: $light;
  font-size: 22px;
}

h4 {
  font-weight: $bold;
  font-size: 22px;
}

h5 {
  font-weight: $regular;
  font-size: 20px;
}

h6 {
  font-weight: $regular;
  font-size: 23px;
}

.font-medium {
  font-size: 18px;
}
