h1 {
  font-weight: $black;
  font-size: 25px;
}

h2 {
  font-weight: $bold;
  font-size: 24px;
}

h3 {
  font-weight: $light;
  font-size: 17px;
}

h4 {
  font-weight: $bold;
  font-size: 18px;
}

h5 {
  font-weight: $regular;
  font-size: 17px;
}

h6 {
  font-weight: $regular;
  font-size: 23px;
}
