@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes loading-position {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes from-down {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes colorized-bg {
  0% {
    background-color: $light-grey;
  }
  50% {
    background-color: $light-pink;
  }
  100% {
    background-color: $light-grey;
  }
}

@keyframes colorized {
  0% {
    color: $grey;
  }
  50% {
    color: $primary-color;
  }
  100% {
    color: $grey;
  }
}

@for $i from 1 through 13 {
  .delay#{$i} {
    animation-delay: $i * 0.1s;
  }
}

.delay44 {
  animation-delay: 4.4s;
}

.delay48 {
  animation-delay: 4.8s;
}

.delay52 {
  animation-delay: 5.2s;
}

@keyframes mark-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.from-down {
  animation-name: from-down;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
