footer {
  background-color: $dark-grey;
  color: $white;
  padding: 20px 0 30px 20px;
  font-size: 18px;
  li {
    margin-bottom: 10px;
  }
  .name {
    font-family: $primary-font;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .footer-icon {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
    .footer-partner {
      margin-left: 6px;
    }
  }
}
